@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy"), url("../fonts/Gilroy/Gilroy-UltraLight.ttf") format("woff2");
}

@font-face {
  font-family: "Kharkiv-Tone";
  font-style: normal;
  font-weight: 500;
  src: local("Kharkiv-Tone"), url("../fonts/Kharkiv_Tone/Kharkiv-Tone.ttf") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #FFFFFF;
  font-family: "Gilroy";
  font-size: 20px;
  position: relative;
  color: #FFFFFF;
  overflow-x: hidden;
  background-color: #111111;
}

body._lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

img[data-src] {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 670px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 992px) {
  section {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .section-desr {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: 1300px) {
  section {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.wrap {
  margin: 0 30px;
}

@media (min-width: 992px) {
  .container {
    position: relative;
  }
}

h1, h2, h3, h4 {
  font-family: "Kharkiv-Tone";
  margin: 0;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 500;
}

h2 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -2px;
}

@media (min-width: 670px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  h2 {
    margin-bottom: 60px;
  }
}

@media (min-width: 1300px) {
  h1 {
    font-size: 50px;
  }
}

.btn {
  text-align: center;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15;
  padding: 25px 60px;
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 0px;
  opacity: 0.5;
}

.btn:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 1;
}

.btn img {
  margin-left: 9px;
}

.btn span {
  position: relative;
  top: 12px;
}

.btn--accent {
  overflow: hidden;
  position: relative;
}

.btn--accent:after {
  content: "";
  top: -50%;
  right: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(229, 172, 142, 0)), color-stop(50%, rgba(255, 255, 255, 0.7)), to(rgba(229, 172, 142, 0)));
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.7) 50%, rgba(229, 172, 142, 0));
  -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
          transform: rotateZ(60deg) translate(-5em, 7.5em);
  opacity: 0;
  position: absolute;
  z-index: 1;
  filter: alpha(opacity=0);
  -webkit-animation: sheens 3s infinite;
          animation: sheens 3s infinite;
}

.btn--full {
  border: 2px solid transparent;
  background: #FFFFFF;
}

.btn:hover {
  cursor: pointer;
}

@media (min-width: 670px) {
  .btn {
    max-width: none;
    display: inline-block;
    padding: 25px;
    font-size: 16px;
    min-width: 0;
  }
}

@media (min-width: 992px) {
  .btn--full:hover {
    background-color: #fbb929;
    border-color: #FFFFFF;
  }
}

.error {
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1C1C1C;
}

.error-titl {
  text-align: center;
}

.error-titl__subtitle p {
  font-size: 15px;
  color: #fff;
  opacity: 0.6;
}

.error-titl__subtitle a {
  margin-top: 40px;
  padding: 20px 57px;
}
/*# sourceMappingURL=error.css.map */