.catalog .wrap{
    display: flex;
    justify-content: center;
}

.catalog{
    padding-top: 0;
    padding-bottom: 38px;
}

.clear-filter{
    text-align: center;
    vertical-align: middle;
    font-size: 12px!important;
}

.catalog-title{
    width: max-content;
    position: relative;
    margin-right: 10px;
    margin-bottom: 42px;
    margin-top: -4px;

    h2{
        margin-bottom: 0px;
    }

    img{
        position: absolute;
        bottom: -22px;
        right: -67px;
    }
}

.catalog-button__setting{
    position: absolute;
    top: 0;
    left: 30px;

    p{
        font-size: 15px;
        cursor: pointer;
    }
}

.catalog-button__setting-filter{
    margin-top: 15px;
    margin-bottom: 15px;
}

.catalog-visualization{
    position: absolute;
    top: 0;
    right: 32px;
    display: flex;
    width: 80px;
    height: 100px;
}

.catalog-visualization__button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    font-size: 15px;

    a{
        background-color: inherit;
        color: #fff;
        border: 1px solid #fff; 
        border-radius: 100%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        opacity: 0.4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.catalog-visualization__inverted{
    transform: rotateZ(-90deg);
    font-size: 15px;
    position: absolute;
    top: 42px;
    right: -43px;
    height: 16px;
}

a.active{
    opacity: 1;
}

.catalog-descr{
    margin-bottom: 20px;
}

.catalog-content{
    padding-top: 0px;
}

.catalog-button__setting-category{
    position: relative;

    div{
        position: absolute;
        opacity: 0;
        top: 0;
        left: 145px;
        min-width: 160px;
        padding: 18px 22px;
        padding-right: 9px;
        padding-left: 6px;
        transition: 0.4s;
        background-color: rgba(255, 255, 255, 0.4);
        pointer-events: none;
        z-index: 3;
        
        &.active{
            opacity: 1;
            transition: 0.4s;
            pointer-events: auto;
            z-index: 2;
        }

        ul{
            max-height: 268px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 1px; /* ширина для вертикального скролла */
                background-color: rgba(255, 255, 255, 0.4);
            }

            &::-webkit-scrollbar-thumb {
                background-color: #fff;
                border-radius: 9em;
            }
            list-style: none;
            li{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0px;
                }
                p{
                    font-size: 12px;
                    color: #fff;
                    opacity: 0.6;
                    width: max-content;
                    margin-left: auto;
                    margin-right: auto;
                }


                label{
                    position: relative;

                    input{
                        display: none;

                        &:checked ~ p {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.catalog-button__setting-filter{
    position: relative;
}

.filter-form{
    z-index: 3;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 115px;
    background-color: #757575;

    padding: 18px 8px;
    max-width: 220px;
    width: max-content;
    transition: 0.4s;
    pointer-events: none;

    &.active{
        transition: 0.4s;
        pointer-events: auto;
        opacity: 1;
    }
}

.filter-form__size{
    p{
        &:first-child{
            width: auto;
            height: auto;
        }

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 22px;

        &:first-child{
            margin-bottom: 15px;
        }
    }
}

.filter-form__size-button{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    label{
        margin-right: 4px;

        &:last-child{
            margin-right: 0;
        }

        input{
            display: none;

            &:checked ~ p{
                border: 1px solid #fff;
                border-radius: 100%;
                padding: 3.3px;
            }

            &:not(:checked) ~ p{
                padding: 4.3px;
            }
        }

        p{
            font-size: 12px;
            color: #fff;
        }
    }
}

.filter-form__color{
    p{
        text-align: center;

        &:first-child{
            margin-bottom: 15px;
        }
    }
}

.filter-form__color-button{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 3px 0;

    label{
        margin-right: 4px;

        &:last-child{
            margin-right: 0;
        }

        input{
            display: none;

            &:checked ~ p{
                border: 1px solid #fff;
                border-radius: 100%;
                padding: 6px;
            }

            &:not(:checked) ~ p{
                padding: 7px;
                border-radius: 100%;
            }
        }

        p span{
            width: 11px;
            height: 11px;
            display: block;
            border-radius: 100%;
            background-color: #fff;

            &.gray{
                background-color: #808080;
            }

            &.black{
                background-color: #000;
            }

            &.red{
                background-color: #962B2B;
            }

            &.green{
                background-color: #75BE48;
            }

            &.yellow{
                background-color: #D7BC2E;
            }

            &.skay{
                background-color: #3897CD;
            }

            &.blue{
                background-color: #162A92;
            }

            &.purple{
                background-color: #6F2C80;
            }

            &.orange{
                background-color: #DF6812;
            }

            &.beige{
                background-color: #E3E1A4;
            }

            &.beryl{
                background-color: #1BCDCD;
            }

            &.brown{
                background-color: #8D5A5A;
            }

            &.violet{
                background-color: #78617E;
            }


            &.white{
                background-color: #fff;
            }
        }
    }
}

.filter-form__price{
    p{
        text-align: center;

        &:first-child{
            margin-bottom: 15px;
        }
    }
}

.filter-form__price-content{
    input{
        width: 100%;
    }
}


.catalog-button__setting-sort{
    position: relative;

    div{
        position: absolute;
        opacity: 0;
        top: 0;
        left: 120px;
        min-width: 220px;
        padding: 18px 15px;
        transition: 0.4s;
        background-color: rgba(255, 255, 255, 0.4);
        pointer-events: none;
        z-index: 3;
        
        &.active{
            opacity: 1;
            transition: 0.4s;
            pointer-events: auto;
            z-index: 2;
        }

        ul{
            list-style: none;

            li{
                margin-bottom: 13px;

                &:last-child{
                    margin-bottom: 0px;
                }
                p{
                    font-size: 12px;
                    color: #fff;
                    opacity: 0.6;
                    width: max-content;
                    margin-right: auto;
                }

                label{
                    position: relative;

                    input{
                        display: none;

                        &:checked ~ p {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.irs-max{
    display: none;
}

.irs-min{
    display: none;
}

.irs-from{
    display: none;
}

.irs-to{
    display: none;
}

.extra-controls{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 40px;
    position: relative;
    align-items: center;

    input{
        width: 59px;
        height: 25px;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0);
        color: #fff;
        text-align: center;
        border: 1px solid #fff;
    }

    div {
        position: absolute;
        height: 1px;
        width: 33%;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }
}

.irs--round .irs-handle{
    top: 31px;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    background-color: #707070;
}

.irs-single{
    display: none;
}

.irs--round .irs-handle:hover {
    background-color: #707070!important;
}

.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover {
    background-color: #707070!important;
}

.irs--round .irs-line{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

.irs--round .irs-bar{
    height: 1px;
    background-color: #fff;
}

.irs--round {
    height: 37px;
    margin-top: -25px;
}

.load-more{
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.search-false__title{
    text-align: center;
    p{
        font-size: 15px;
        margin-bottom: 30px;
        color: #fff;
    }
}

.search-false__descr{
    text-align: center;
    margin-bottom: 40px;
    p{
        font-size: 15px;
        color: rgba(255, 255, 255, 0.6);

        span{
            color: rgba(255, 255, 255, 1);
        }
    }       
}

.search-false__button{
    text-align: center;

    a{
        padding: 17px 58px;
    }
}

.search-result{
    display: none;
    margin-bottom: 30px;

    p{
        font-size: 15px;
        color: #fff;
        
        span{
            &:first-child{
                opacity: 0.6;
            }

            &:last-child{
                border-bottom: 1px solid #fff;
            }
        }
    }
}

.catalog-descr__result{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px 0;

    p{
        font-size: 15px;
        &:first-child{
            margin-right: 25px;
        }
    }
}

.catalog-descr__result-category{
    margin-right: 20px;
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
    gap: 8px 0;
    div{
        display: flex;
        font-size: 15px;
        border: 1px solid #fff;
        padding: 8px 10px;
        margin-right: 15px;
        p{
            margin-right: 22px;
        }

        img{
            width: 9px;
            cursor: pointer;
        }

        &:last-child{
            margin-right: 0px;
        }
    }
}

.catalog-descr__result-size{
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
    gap: 8px 0;
    div{
        display: flex;
        font-size: 15px;
        border: 1px solid #fff;
        padding: 8px 10px;
        margin-right: 15px;

        p{
            margin-right: 22px;
        }

        img{
            width: 9px;
            cursor: pointer;
        }

        &:last-child{
            margin-right: 0px;
        }
    }
}

.catalog-descr__result-color{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
    div{
        display: flex;
        font-size: 15px;
        border: 1px solid #fff;
        padding: 8px 10px;
        margin-right: 15px;

        p{
            margin-right: 22px;
        }

        img{
            width: 9px;
            cursor: pointer;
        }

        &:last-child{
            margin-right: 0px;
        }
    }
}


.bg-swiper-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 11, 11, 0.6);
    z-index: 1;
    opacity: 0;
    transition: 0.4s;

    &.active{
        transition: 0.4s;
        z-index: 2;
        opacity: 1;
    }
}

.catalog-swiper-container{
    .swiper-slide{
        height: auto;
        .swiper-slide__content{
            img{
                object-fit: cover;
            }
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}