.catalog-title{
    h2{
        object{
            margin-left: -14px;
            margin-bottom: -14px;
        }
    }

    span{
        position: relative;
        margin-left: 28.5vw;
        display: block;
        width: max-content;
        margin-top: 12px;
        object{
            position: absolute;
            top: 25px;
            right: -115px;
        }
    }
}

.catalog-elemetn__item-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p{
        position: absolute;
        bottom: 5px;
        margin-left: auto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80px;
        color: #fff;
        background-color: rgba(4, 4, 4, 0.6);
    }

    &:hover .btn-catalog__home{
        display: block;
        transition: 0.8s;
    }
}

.btn-catalog__home{
    padding: 12px 27px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    display: none;
    transition: 0.8s;
}




.catalog-elemetn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    margin-top: 50px;
}

.catalog-elemetn__item{
    cursor: pointer;
    width: max-content;
}
.catalog-elemetn__item-one{
    margin-top: -14px;
    div{
        &:first-child {
            margin-bottom: 13px;
        }
    }
}

.catalog-elemetn__item-two{
   div{
       &:first-child {
           margin-bottom: 13px;
       }
   }

   margin-bottom: 64px;
}

.catalog-elemetn__item-three{
    div{
        &:first-child {
            margin-bottom: 13px;
        }
    }

    margin-top: 132px;
}

.invertet-text__position {
    top: 120px;
    right: -114px;

    opacity: 0.6;
}