.catalog-title img {
    position: absolute;
    bottom: -42px;
    right: -93px;
}

.favorite-count{
    margin-bottom: 15px;
}

.catalog-title{
    margin: 0;
}

.catalog .wrap{
    justify-content: start;
}

.catalog{
    margin-top: -19px;
}

.catalog {
    padding-top: 0;
    padding-bottom: 79px;
}
