.circle-animation {
    position: absolute;
    bottom: -35px!important;
    left: -49px!important;
    width: 210px;
    height: 210px;
    -webkit-transform: rotateZ(7.5deg);
    transform: rotateZ(7.5deg);

    @media (max-width: 1500px) {
        // bottom: -35px!important;
        width: 205px;
        height: 205px;
    }
}

.first-screen{
    max-height: 1000px;
    padding-top: 0;
    padding-bottom: 0px;
    position: relative;
    overflow: hidden;
    color: #fff;
    
    &::after{
        content: '';
        background: linear-gradient(0deg, #000 15%, rgba(0,0,0,0) 99.9%);
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        min-height: 96px;
    }  
}
    
.first-screen__title {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
    // overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    @media (max-width: 1200px) {
        transform: scale(.9);
    }

    @media (max-width: 1100px) {
        transform: scale(.8);
    }

    h1{
        font-size: 120px;
        margin-bottom: 25px;
        line-height: normal;
        text-transform: none;
        margin-bottom: 0px;
        letter-spacing: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0 173px;
        margin-left: 1px;
        position: relative;
        
        object {
            position: absolute;
            bottom: -38px;
            right: -90px;
        }

        span{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    p{
        font-size: 15px;
        line-height: 20px;
        margin-left: 17px;
        margin-top: -4px;
    }
}

.first-screen__social{
    width: 100%!important;
    max-width: 1140px!important;
    transform: translateX(-50%)!important;
    left: 50%!important;
    position: absolute;
    z-index: 10;
    bottom: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;

    object {
        width: 23px;
        height: 23px;
    }

    img{
        width: 9px;
        height: 10px;
        margin-right: auto;
    }

    a{
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        width: max-content;

        &:first{
            margin-right: 10px;
        }
    }
}
    
.first-screen__social-img{
    img{
        width: 23px;
        height: 23px;
    }
    margin-top: 0px;
    margin-right: 15px;
    
}

.first-screen__descr{
    margin-bottom: 25px;
    font-family: $titles_font;
    text-transform: uppercase;
    text-align: left;
    span{
        color: $accent;
    }
}

.arrow-scroll{
    position: absolute;
    bottom: 41px;
    z-index: 1;
    right: 30px;
    text-align: center;
    width: 7px;
    width: 100%;
    max-width: 1140px;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        font-size: 14px;
        transform: rotateZ(-90deg);
        margin-right: -22px;
        margin-bottom: 17px;
    }

    object {
        margin-top: 15px;
        margin-right: -4px;
    }
}
    
.first-screen__text{
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 26px;
    padding: 15px 25px;
    border-left: 3px solid $accent;
    background-color: rgba(0,0,0, 0.7);
    max-width: 450px;
}
    
.first-screen__list{
    padding-left: 17px;
    margin-bottom: 30px;
}
    
.first-screen__list-elem{
    list-style: none;
    font-size: 18px;
    margin-bottom: 15px;
    position: relative;
    &::before{
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $accent;
        position: absolute;
        left: -17px;
        top: 4px;
    }
        
}
   
.first-screen__hero-picture{
    display: inline-block;
    img{
        max-width: 300px;
        width: 100%;
    }    
}
    
.first-screen__hero-name{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1;
    span{
        display: none;
        width: 40px;
        height: 3px;
        background-color: $accent;
        &:first-child{
            display: block;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
            top: 30px;
        }
            
    }
        
}

.first-screen__title-house{
    position: relative;

    
}
    
@media (min-width: 670px){
    .first-screen{
        padding-top: 0;
        margin-bottom: 35px;
        .wrap{
            position: relative;
        }
            
        &::after{
            display: none
        }  
    }

    .first-screen__title{
        font-size: 30px;
        margin-bottom: 143px;
    }
        
    .first-screen__list{
        margin-bottom: 60px;
        padding-left: 25px;
    }
        

    .first-screen__list-elem{
        font-size: 18px;
        margin-bottom: 20px;
        &::before{
            left: -25px;
            width: 8px;
            height: 8px;
            top: 3px;
        }
    }
             
}

@media (min-width: 870px){
    .first-screen__title{
        font-size: 35px;
    }
         
    .first-screen__text{
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 30px;
    }
        
    .first-screen__list-elem{
        font-size: 20px;
    }

}
    


@media (min-width: 992px){
    .first-screen{
        padding-top: 0;
        margin-bottom: 35px;
    }

}

@media (max-width: 1200px){
    .first-screen__title{
        margin-bottom: 0vh;
    }

    .first-screen__title h1{
        gap: 0 126px;
    }

    .first-screen__social{
        margin-left: 30px;
    }

    .arrow-scroll p{
        margin-right: 2px;
    }

    .arrow-scroll object{
        margin-right: 20px;
    }
}

@media (min-width: 1420px){
    .first-screen__title{
        font-size: 45px;
    }
}
