.error{
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
}

.error-titl{
    text-align: center;
}

.error-titl__subtitle{
    h2{
        font-size: 15px;
        color: #fff;
        opacity: 0.6;
        font-family: 'Gilroy';
        font-weight: 500;
        letter-spacing: normal;
        text-transform: inherit;
        margin-bottom: 0;
    }
    a{
        margin-top: 40px;
        padding: 20px 57px;
    }
}
