.error{
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
}

.error-titl{
    text-align: center;
}

.error-titl__subtitle{
    p{
        font-size: 15px;
        color: #fff;
        opacity: 0.6;
    }
    a{
        margin-top: 40px;
        padding: 20px 57px;
    }
}
