.card{
    display: grid;
    grid-template-columns: 55.6% 44.4%;
    margin: 0 30px;
}

.cont-head{
    display: flex;

    .header__logo{
        a{
            width: 169px;
            img{
                width: 169px;
            }
        }
    }
}

.new-title{
    h2{
        font-size: 31px;
    }
}


.burger__container{
    margin-left: 0;
    margin-right: 23px;
}

.header {
    width: 60%;
    z-index: 100;
}

.breadcrumbs {
    padding: 120px 0 60px 0;
}

.header__buttons{
    margin-right: 120px;

    input{
        width: max-content;
    }

    button{
		opacity: 0.5;
		transition: 0.4s;

		&:hover{
			transition: 0.4s;
			opacity: 1;
		}
	}
}

.swiper-slide img{
    height: 750px;
}

.product-description{
    margin-bottom: 52px;

    h2{
        font-size: 18px;
        margin-bottom: 30px;
        text-transform: inherit;
        letter-spacing: 0px;

        span{
            &:first-child{
                margin-right: 29px;
            }

            &:last-child{
                margin-left: 28px;
            }
        }
    }

    p{
        font-size: 15px;
        color: #fff;
        opacity: 0.6;
    
        &:nth-child(2){
            margin-top: -2px;
            margin-bottom: 54px;
            letter-spacing: -0.1px;
            line-height: 18.1px;
        }
    }
}

.product-setting{
    margin-bottom: 80px;
}

.product-setting__controlls{
    display: flex;
    max-width: 450px;
    justify-content: space-between;
    width: 100%;
}

.product-setting__size{
    display: flex;
    flex-direction: row;

    label{
        margin-right: 10px;
        cursor: pointer;
        display: flex;

        &:last-child{
            margin-right: 0;
        }

        input{
            display: none;

            &:checked ~ span{
                border: 3px solid #fff;
                border-radius: 50%;
                padding: 11px;
            }

            &:not(:checked) ~ span{
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                padding: 13px;
            }
        }

        span{
            width: 45px;
            height: 45px;
            font-size: 15px;
            color: #fff;
        }
    }
}

.product-setting__color{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px 0;

    label{
        margin-right: 10px;
        cursor: pointer;

        &:last-child{
            margin-right: 0;
        }

        input{
            display: none;

            &:checked ~ .setting__color-container{
                border: 3px solid #fff;
                border-radius: 50%;
                padding: 8px;
                display: block;
            }

            &:not(:checked) ~ .setting__color-container{
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                padding: 10px;
                display: block;
            }
        }

        .setting__color-container span{
            width: 23px;
            height: 23px;
            display: block;
            border-radius: 50%;
            background-color: #fff;

            &.gray{
                background-color: #808080;
            }

            &.black{
                background-color: #000;
            }

            &.red{
                background-color: #962B2B;
            }

            &.green{
                background-color: #75BE48;
            }

            &.yellow{
                background-color: #D7BC2E;
            }

            &.skay{
                background-color: #3897CD;
            }

            &.blue{
                background-color: #162A92;
            }

            &.purple{
                background-color: #6F2C80;
            }

            &.orange{
                background-color: #DF6812;
            }

            &.beige{
                background-color: #E3E1A4;
            }

            &.beryl{
                background-color: #1BCDCD;
            }

            &.brown{
                background-color: #8D5A5A;
            }

            &.violet{
                background-color: #78617E;
            }


            &.white{
                background-color: #fff;
            }
        }
    }
}

.product-buttons .wrap{
    display: flex;
    gap: 0 13px;
    margin-left: 0px;
}

.product-buttons__buy{
    padding: 16px 58px;
    font-size: 15px;
}

.product-buttons__other{
    button{
        width: 60px;
        height: 100%;
        border: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0);

        &:last-child{
            margin-left: 3px;
        }
    }
}

.product-buttons__other-like.active{
    background-image: url(../img/like-productActive.svg);
}

.product-buttons__other-like{
    cursor: pointer;
    background-image: url(../img/like.svg);
    background-size: 19px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
    background-blend-mode: difference;
    
    &:hover{
        transition: 0.2s;
        background-color: #fff;
    }
}

.product-buttons__other-basket{
    cursor: pointer;
    background-image: url(../img/basket.svg);
    background-size: 19px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.2s;
    background-blend-mode: difference;

    &:hover{
        transition: 0.2s;
        background-color: #fff;
    }
}

.table-size__button{
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    width: max-content;
    z-index: 15;
    position: absolute;
    opacity: 0.7;
    transition: 0.4s;
}

.table-size__button:hover{
    opacity: 1;
    transition: 0.4s;
}

.product-buttons{
    margin-bottom: 68px;
}

.table-size{
    position: relative;
}

.table-size__table{
    opacity: 0;
    width: max-content;
    position: absolute;
    z-index: -1;
    bottom: -15px;
    left: 160px;
    transition: 0.4s;

    &.active{
        opacity: 1;
        transition: 0.4s;
        z-index: 15;
    }

    table{
        text-align: center;
        padding: 15px;
        background-color: rgb(160, 160, 160);
    }

    thead{
        tr{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            border-bottom: 1px solid #fff;
            padding-bottom: 4px;
            margin-bottom: 4px;
            font-size: 12px;
        }
        
        th{
            font-weight: 400;
            margin-right: 15px;

            &:last-child{
                margin-right: 0px;
            }
        }
    }

    tbody{
        tr{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            font-size: 12px;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0px;
            }

            td{
                margin-right: 15px;

                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}

.bg-table{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.8);
    transition: 0.4s;
    opacity: 0;
    z-index: -2;

    &.active{
        transition: 0.4s;
        z-index: 15;
        opacity: 1;
    }
}

.swiper-pagination-for-color{
    display: flex;
    align-items: center;
    span{
        &.gray{
            background-color: #808080;
        }

        &.black{
            background-color: #000;
        }

        &.red{
            background-color: #962B2B;
        }

        &.green{
            background-color: #75BE48;
        }

        &.yellow{
            background-color: #D7BC2E;
        }

        &.skay{
            background-color: #3897CD;
        }

        &.blue{
            background-color: #162A92;
        }

        &.purple{
            background-color: #6F2C80;
        }

        &.orange{
            background-color: #DF6812;
        }

        &.beige{
            background-color: #E3E1A4;
        }

        &.beryl{
            background-color: #1BCDCD;
        }

        &.brown{
            background-color: #8D5A5A;
        }

        &.violet{
            background-color: #78617E;
        }


        &.white{
            background-color: #fff;
        }
    }
}

.swiper-pagination-bullet{
    position: relative;
    width: 23px;
    height: 23px;
    margin-right: 35px;
}

.swiper-pagination-bullet::before{
    content: ' ';
    display: block;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    top: -11px;
    right: -11px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}

.swiper-pagination-bullet-active::before{
    border: 3px solid rgba(255, 255, 255, 1);
    top: -11px;
    right: -11px;
    width: 39px;
    height: 39px;
}

.product-card-swiper{
    .swiper-slide{
        height: 100%;

        img{
            max-height: 750px;
            object-fit: cover;
        }
    }
}

body.lock{
    overflow-y: hidden!important;
}

.hamburger{
    margin-left: 0;
    margin-right: 23px;
}