.new-title{
    display: flex;
    justify-content: space-between;
}

.new-title h2 {
    font-size: 31px;
    margin-bottom: 31px;
    object{
        margin-left: -14px;
        margin-bottom: -11px;
        width: 52px;
        height: 45px;
    }
}

.new-title__desrc {
    margin-top: 13px;

    p {
        font-size: 15px;
        color: #fff;

        &:first-child{
            margin-bottom: 15px;
        }

        &:last-child{
            opacity: 0.6;
        }
    }
}

.new-product {
    display: flex;
    gap: 0 15px;
}

.scale {
    position: relative;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 470px;
}

.scale-bg {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .8s;
    background: rgba(4, 4, 4, 0.4);
    opacity: 0;
}

.btn-new__home{
    padding: 12px 27px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.scale:hover{
    .scale-bg {
        transition: all .8s;
        opacity: 1;
        background: rgba(4, 4, 4, 0.4);
    }

    .btn-new__home{
        opacity: 1;
        -webkit-transition: 0.8s;
        transition: 0.8s;
    }
}

.product-button:hover ~ .scale .scale-bg{
    transition: all .8s;
    opacity: 1;
    background: rgba(4, 4, 4, 0.4);
}

// .scale img {
//     filter: brightness(1);
//     transition: 0.8s; 
//     display: block;
//     width: inherit; 
// }

// .scale img:hover {
//     transition: 0.8s; 
//     transform: scale(1.1);
// }

.new-product__item{
    position: relative;
    width: 100%;
    img {
        width: -webkit-fill-available;
        height: 100%;
    }

    p{
        text-align: center;
        font-size: 15px;

        &:first-child{
            margin-bottom: 5px;
        }
    }
}

.new-product__item:nth-child(2n){
    width: 80%;
    
    .scale{
        max-height: 356px;
    }
}

.new-product__item .product-button{
    position: absolute;
    top: 24px;
    left: 21px;
    z-index: 2;

    .product-button__like{
        margin-bottom: 11px;
    }

    button{
        background-color: inherit;
        border: none;
        cursor: pointer;

        img{
            width: 18px;
        }
    }

    .size-list.activator-list {
        top: 55px;
    }
}

.product-button__like.active-favorite {
    background-image: url(../img/like-productActive.svg);
}

.product-button__like{
    width: 18px;
    height: 18px;
    background-image: url(../img/like-product.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 5px;
}

.product-interes{
    padding-top: 91px;
}

.size-list.activator-list{
    display: block;
    position: absolute;
    top: 45px;
}

.product-button__contain{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-list{
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 30px;
    display: none;

    ul{
        list-style: none;

        li{

            button{
                padding: 7px 7px;
                color: #fff;
                font-size: 12px;
                cursor: auto;
            }
        }
    }
}
