.new-title{
    display: flex;
    justify-content: space-between;
}

.new-title h2 {
    font-size: 31px;
    margin-bottom: 31px;
    object{
        margin-left: -14px;
        margin-bottom: -11px;
        width: 52px;
        height: 45px;
    }
}

.new-title__desrc {
    margin-top: 13px;

    p {
        font-size: 15px;
        color: #fff;

        &:first-child{
            margin-bottom: 15px;
        }

        &:last-child{
            opacity: 0.6;
        }
    }
}

.new-product {
    display: flex;
    gap: 0 15px;
}

.scale {
    display: inline-block; 
    overflow: hidden; 
    margin-bottom: 15px;
    width: 100%;
    transition: 0.8s; 
    cursor: pointer;
}

.scale img {
    filter: brightness(1);
    transition: 0.8s; 
    display: block;
    width: inherit; 
}

.scale img:hover {
    transition: 0.8s; 
    transform: scale(1.1);
}

.new-product__item{
    position: relative;
    width: 100%;
    img {
        width: -webkit-fill-available;
        height: 91%;
    }

    p{
        text-align: center;
        font-size: 15px;

        &:first-child{
            margin-bottom: 5px;
        }
    }

    &:hover .scale img{
        transition: 0.2s;
        filter: brightness(0.6);
    }
}

.new-product__item:nth-child(2n){
    width: 80%;
    height: 80%;
}

.product-button{
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 1;

    button{
        background-color: inherit;
        border: none;
        cursor: pointer;

        img{
            width: 18px;
        }
    }
}

.product-button__like.active-favorite {
    background-image: url(../img/like-productActive.svg);
}

.product-button__like{
    width: 18px;
    height: 18px;
    background-image: url(../img/like-product.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 5px;
}

.product-interes{
    padding-top: 91px;
}

.size-list.activator-list{
    display: block;
    position: absolute;
    top: 45px;
}

.product-button__contain{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-list{
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 30px;
    display: none;

    ul{
        list-style: none;

        li{

            button{
                padding: 7px 7px;
                color: #fff;
                font-size: 12px;
            }
        }
    }
}
