input, textarea{
    border: none;
}

input, textarea, button{
    outline: none;
    border: none;
    &:focus:required:invalid{
        border-color: red
    } 
    &:required:valid{
        border-color: green;
    }
}

.order-form {
    padding: 23px 19px;

    label {
        p {
            color: #fff;
            opacity: 0.8;
            font-size: 12px;
        }

        input{
            border: none;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

.order-form__title {
    font-size: 15px;
    color: #fff;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    width: 80%;
}

.order-form__subtitle {
    font-size: 12px;
    color: #fff;
}