input, textarea{
    border: none;
}

input, textarea, button{
    outline: none;
    border: none;
    &:focus:required:invalid{
        border-color: red
    } 
    &:required:valid{
        border-color: green;
    }
}

.order-form {
    padding: 23px 19px;

    label {
        p {
            color: #fff;
            opacity: 0.8;
            font-size: 12px;
        }

        input{
            border: none;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

.order-form{
    display: flex;
    gap: 0 80px;
}

.order-form form {
    display: flex;
    gap: 0 30px;
}

.order-form__ordering{
    min-width: 325px;
    padding: 23px 19px;
    text-align: center;
    border: 1px solid #fff;
}

.order-form__ordering-title{
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    margin-bottom: 23px;
    width: 83%;
    margin-left: auto;
    margin-right: auto;

    p{
        font-size: 15px;
    }
}

.order-form__ordering-subtitle{
    padding-bottom: 27px;
    p{
        font-size: 12px;
    }
}

.order-form__ordering-input{
    margin-bottom: 50px;
    div{
        margin-bottom: 20px;

        p{
            text-align: start;
            font-size: 12px;
        }

        input{
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            margin-top: 2px;
            font-size: 15px;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
}


.mailrus-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mailrus-logo{
    p{
        font-size: 10px;
    }

    img{
        display: block;
        margin-right: auto;
        margin-bottom: 6px;
    }
}

.sdek{
    margin-top: 37px;
}

.sdek-logo{
    p{
        font-size: 10px;
    }

    img{
        display: block;
        margin-right: auto;
        margin-bottom: 6px;
    }
}

.order-form__ordering-shipping{
    margin-bottom: 50px;
}

.comment{
    margin-bottom: 0px;

    p{
        margin-bottom: 20px;
    }
}