.product-cards{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 30px;
}

.product-card{
    position: relative;
    margin-bottom: 29px;
}

.catalog-swiper-container{
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
        .swiper-button-next{
            transition: 0.4s;
            opacity: 1;
        }

        .swiper-button-prev{
            transition: 0.4s;
            opacity: 1;
        }
    }
}

.swiper-button-next{
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 1;
    border: 1px
    solid #fff;
    left: -31px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev{
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 1;
    border: 1px
    solid #fff;
    right: -31px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-button{
    position: absolute;
    top: 4%;
    left: 4%;
    z-index: 10;

    button{
        background-color: inherit;
        border: none;
        cursor: pointer;

        img{
            width: 18px;
        }
    }
}

.size-list.activator-list{
    display: block;
    position: absolute;
    top: 55px;
}

.product-button__contain{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-list{
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 30px;
    display: none;

    ul{
        list-style: none;

        li{

            button{
                padding: 7px 7px;
                color: #fff;
                font-size: 12px;
            }
        }
    }
}

.product-button__like.active-favorite {
    background-image: url(../img/like-productActive.svg);
}

.product-button__like{
    width: 18px;
    height: 18px;
    background-image: url(../img/like-product.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 13px;
}


.product-card__button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    

    button{
        font-size: 15px;
        padding: 15px 60px;
        opacity: 0.6;
        transition: 0.8s;

        &:hover {
            transition: 0.8s;
            opacity: 1;
        }
    }
}

.product-card__content-price{
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);

    p{
        font-size: 15px;

        &:first-child{
            margin-bottom: 5px;
        }
    }
}