.product-cards{
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 31.5% 31.5% 31.5%;
    // grid-template-columns: 33.3% 33.3% 33.3%;
    // gap: 18px 30px;
    gap: 50px 30px;
}

.product-cards__less{
    grid-template-columns: 48.55% 48.55%;
}



.product-card{
    position: relative;
    // margin-bottom: 29px;

    // &:nth-last-of-type(-n+3) {

    //     & .catalog-swiper-container {
    //         height: 465px;
    //     }
    // }
}

.product-card {

    & .catalog-swiper-container {
        height: auto;
    }
}

.catalog-swiper-container{
    height: 545px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover{
        .swiper-button-next{
            transition: 0.4s;
            opacity: 1;
        }

        .swiper-button-prev{
            transition: 0.4s;
            opacity: 1;
        }
    }

    .product-button:hover ~ .swiper-button-next{
        transition: 0.4s;
        opacity: 0;
    }

    .product-button:hover ~ .swiper-button-prev{
        transition: 0.4s;
        opacity: 0;
    }

    .swiper-slide{
        height: 547px;
    }
}

.swiper-button-next{
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 1;
    border: 1px
    solid #fff;
    left: -40px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        margin-left: 20px;
    }
}

.swiper-button-prev{
    transition: 0.4s;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    z-index: 1;
    border: 1px
    solid #fff;
    right: -40px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        margin-right: 20px;
    }
}

.product-button{
    position: absolute;
    top: 3.9%;
    left: 9.5%;
    z-index: 10;

    button{
        background-color: inherit;
        border: none;
        cursor: pointer;

        img{
            width: 18px;
        }
    }
}

.size-list.activator-list{
    display: block;
    position: absolute;
    top: 55px;
    opacity: 1;
    transition: 0.8s;
    z-index: 1;
}

.product-button__contain{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-list{
    margin-top: 15%;
    background-color: #A0A0A0;
    max-width: 30px;
    position: absolute;
    z-index: -3;
    top: 55px;
    opacity: 0;
    transition: 0.8s;

    ul{
        list-style: none;
        padding: 5px 0;

        li{

            button{
                padding: 8px;
                color: #fff;
                font-size: 12px;
                cursor: auto;
            }
        }
    }
}

.product-button__like.active-favorite {
    background-image: url(../img/like-productActive.svg);
}

.product-button__like{
    width: 18px;
    height: 18px;
    background-image: url(../img/like-product.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-bottom: 13px;
}


.product-card__button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    

    button{
        width: 250px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        padding: 8px 16px;
        opacity: 0.6;
        transition: 0.8s;

        &:hover {
            transition: 0.8s;
            opacity: 1;
        }
    }
}

.product-card__content-price{
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);

    p{
        font-size: 15px;

        &:first-child{
            margin-bottom: 5px;
        }
    }
}

.less-catalog-btn{
    padding: 19px 71px!important;
    max-width: 300px;
    max-height: 55px;
    width: 100%;
}

.product-cards__less{

    & .catalog-swiper-container {
        height: 840px;
    }

    & + .load-more {
        margin-top: 84px;
    }

    .product-card__content-price{
        height: 100px;
    }

    .product-button{
        top: 3.9%;
        left: 6.4%;

        .product-button__like{
            width: 20px;
            height: 20px;
            margin-bottom: 16px;
        }

        .product-button__size {
            img{
                width: 23px;
                height: 23px;
            }
        }
    }

    .size-list.activator-list{
        top: 70px;
    }

    .product-card__content-price{
        p{
            font-size: 18px;
        }
    }
}